body {
  margin: 0;
  background-color: black;
  color: #efefef;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
}

.wrapper {
  background-color: black;
  width: 82%;
  padding: 20px;
  color: #efefef;
  margin: auto;
}

#portfolio-header h1 {
  background-color: black;
  font-size: 42px;
  font-weight: 100;
}

#portfolio-header {
  background-color: black;
}

#portfolio-header p {
  font-style: italic;
  font-size: 17px;
}

.bio {
  margin-top: 30px;
}

#header-content {
  display: flex;

  justify-content: space-between;
  justify-items: center;
}

#page_body {
  width: 100%;
}

#assignment .img-container {
  display: flex;
  justify-content: space-evenly;
}

#assignment .images img {
  width: 100%;
}

#assignment .images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#assignment2 .img-container {
  display: flex;
  justify-content: space-evenly;
}

#assignment2 .img-container .images img {
  width: 200px;
}

#assignment2 .img-container .imagesScene img {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

#assignment2 #a4img {
  width: 250px;
}
